* {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
    outline: none;
}

p, h2 {
    background-color: rgb(44, 44, 44);
    width: 70%;
}

h2 {
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 10%;
    font-size: 4rem;
    padding: 5%;
}

h3 {
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: 0%;
    left: 15%;
    width: 70%;
    font-size: 3rem;
    padding: 5%;
    background-color: rgb(44, 44, 44);
}

p {
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    position: relative;
    left: 10%;
}

ul {
    color: aliceblue;
    background-color: rgb(44, 44, 44);
}

li {
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    background-color: rgb(44, 44, 44);
}

#left-canvas-ui {
   width: 30%;
   height: 100%;
   position: absolute;
   background-image : linear-gradient(to left, rgba(0,0,0, 1), rgb(44, 44, 44) 15%);
   top: 0px; 
}

#right-canvas-ui {
   width: 30%;
   height: 100%;
   position: absolute;
   background-image : linear-gradient(to right, rgba(0,0,0, 1), rgb(44, 44, 44) 15%);
   top: 0px;
   right: 0px;
}

#right-list-section {
    background-color: rgb(44, 44, 44);
    color: aliceblue;
    margin: 10%;
    width: 70%;
    top: 0%;
}

#list-text {
    padding: 10px;
}

.close {
    background-color: white;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    top: 0%;
    content: ' ';
    height: 32px;
    width: 2px;
    background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}